.navbar{
    display: flex;
}
.navbar-inside{
    display: flex;
    gap: 55px;
    margin-right: 100px;
   
}
.link{
    color: #808080;
    text-decoration: none;
    font-size: 17px;
}
.link:hover{
    color:#db7c38 ;
    text-decoration: none;
}
.logo-img{
    margin-left: 50px;
}
